@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.sidebar {
    &.animate {
        animation: slide 2000ms;
    }

    padding: 15px;
    height: 100vh;
    background: #F2F2F2;

    .logo {
        margin: 50px;

        .agriculture-logo {
            color: $accent;

            img {
                position: absolute;
            }

            span {
                margin-left: 38px;
                vertical-align: middle;
            }
        }
    }

    .menu-list {
        width: 70%;
        margin: auto;

        li.selected {
            a {
                color: white;
                background-image: url(../assets/images/rect2.svg);
                background-repeat: no-repeat;
                width: fit-content;
                background-position-y: 50%;
                background-size: 100% 100%;
            }
        }

        li {
            a {
                background: none;
            }
        }
    }
}

@supports (-ms-ime-align:auto) {
    .sidebar {
        .menu-list {
            li.selected {
                a {
                    color: white;
                    background-repeat: no-repeat;
                    background-image: url(../assets/images/brush-stroke-banner-7-onlygfx-dot-com.svg);
                    background-position-y: 50%;
                    width: fit-content;
                    background-size: 75% 100%;
                }
            }
        }
    }

}

@-moz-document url-prefix() {
    .sidebar {
        .menu-list {
            li.selected {
                a {
                    color: white;
                    background-repeat: no-repeat;
                    background-image: url(../assets/images/brush-stroke-banner-7-onlygfx-dot-com.svg);
                    background-position-y: 50%;
                    width: fit-content;
                    background-size: 75% 100%;
                }
            }
        }
    }
}

@media not all and (min-resolution:.001dpcm) {

    // @media {
    .sidebar {
        .menu-list {
            li.selected {
                a {
                    color: white;
                    background: $primary;
                    padding: 1px;
                    margin: 5px;
                }
            }
        }
    }


    // }
}