@import '../node_modules/bulma/bulma.sass';

$primary: #5A2D8F;
$accent: #82BD09;
$semantic: #1A051D;
$neutral-1: #3F3356;
$neutral-2: #D0C9D6;
$neutral-3: #ECEBED;
$neutral-4: #F7F5F9;
$neutral-5: #FFFFFF;

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SourceSansSerifSB;
    src: url(../assets/fonts/SourceSerifPro-Semibold.otf);
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

* {
    font-family: "Lato";
}

.title,
h1,
h2,
h3 {

    a {
        font-family: "SourceSansSerifSB";
    }

    font-family: "SourceSansSerifSB";
}

.columns {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-bottom: 0;
    }
}

.hide {
    display: none;
}


@import './sidebar.scss';
@import './welcome.scss';
@import './content.scss';
@import './about.scss';
@import './loading.scss';