#welcome-image {

    @keyframes pop {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(100%);
        }
    }


    img {
        &:nth-child(1) {
            transform: translateY(-70px) translateX(-220px);
        }

        &:nth-child(2) {
            transform: translateY(-200px) translateX(19%);
        }

        &:nth-child(3) {
            transform: translateY(-180px) translateX(250px);
            z-index: 1;
        }

        &:nth-child(4) {
            transform: translateY(-170px) translateX(490px);
        }

        &.animate {
            animation: pop 2s;
            animation-direction: normal;
        }

        text-align: center;
        position: absolute;
    }

    color: white;
    background-image: url(../assets/images/Rectangle3.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
    height: 184px;
    width: 717px;
    margin: 100px auto;
}